html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, Arial;
    margin: 0;
}

.main {
    width: 70%;
    margin: 0 auto;
}

.form-container {
    display: flex;
}

.image-sidebar {
    width: 40%;
    background-image: url("images/sidebar-image.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    font-family: Norse;
    font-size: 70px;
    display: flex;
    margin-top: 150px;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

.logo p {
    margin: 0;
}

@font-face {
    font-family: Norse;
    src: url("fonts/Norse-Bold.otf");
}

.logo img {
    height: 100px;
}

.right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f8f8;
    gap: 15px;
}

.form-box {
    background-color: #fff;
    padding: 10px 0px 20px 30px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.form-box h3{
    font-weight: 500;
}

.form-heading {
    padding-left: 30px;
    width: 80%;
}
.form-heading h3 {
    font-size: 18px;
    
}
.form-bottom {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
label {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 500;
}
form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input {
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {
    border: 1px solid blue;
    outline: none;
}

.input-container {
    width: 45%;
}

button {
    background-color: #596D48;
    color: #fff;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    width: fit-content;
    box-shadow: 1px 1px 4px #000;
}

button:hover {
    cursor: pointer;
    background-color: #3b5822;
    opacity: 0.9;
}

input[type="password"]:invalid {
    border: 1px solid red;
}

a {
    text-decoration: none;
    color: #596D48;
}